<button (click)="switchRegion()" style="display: block;width: 20%;height: 40px;margin: 20px auto;">
  Presiona
</button>
<div #bodyListContainer class="container" id="container">
  <div class="pokeCard" *ngFor="let item of data; let r = index">
    <!--Aqui se van a cargar todas las cartas de los bicharracos-->
    <p class="cardNumber">#{{item.id}}</p>
    <img class="cardImg" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{item.id}}.png">
    <p class="cardName" #pokemonNameTag id="pokemonNameTag{{item.name}}">{{item.name|titlecase}}</p>
  </div>
</div>
