header{
  background-color: rgb(124, 75, 210);
  text-align: center;

  img{
    margin: 50px 0px 0px 0px;
  }

  #searchBar {
    width: 25%;
    margin: 30px 10px;
  }

  #selectRegionField{
    width: 10%;
    margin: 30px 10px 30px 10px;
    padding:0px;
  }
}
